<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand"><i class="fa fa-briefcase fa-1x"></i>TourDe</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Admin Panel</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/list">List <span class="sr-only">(current)</span></a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
<div class="row mt-5"></div>
<div class="card-columns">
	{{#each list}}
		<div class="card border-primary mb-3 text-center" style="max-width: 20rem;">
			<div class="card-header">{{this.country}}</div>
			<div class="card-body">
				<h4 class="card-title">{{this.place}}</h4>
				<p class="card-text">{{this.description}}</p>
				<a href="/update/{{this._id}}"><i class="fa fa-edit fa-lg" aria-hidden="true"></i></a>
				<a href="/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
			</div>
		</div>
	{{/each}}
</div>
<footer class="page-footer font-small fixed-bottom">
	<div class="footer-copyright text-center py-3">&copy;2019 Copyright: TourDe</div>
</footer>
